<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forget Password</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,regular,500,600,700" media="all">
    </head>
    <body>
        <div class="container-fluid">
            {% include '_navbar.html' %}

            <div class="row mt-3">
                <div class="col-md-6 offset-md-3">
                    {% if request.args.get('status') %}
                        <div class="alert alert-danger mb-3 fs-5 text-center" role="alert">
                            <i class="fa-solid fa-triangle-exclamation"></i> 
                            This E-mail does not exist!
                        </div>
                    {% endif %}
                    
                    <div class="card border-3">
                        <div class="card-body">
                            <form action="{{url_for('forget_password_send_email')}}" method="POST"> 
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="" required value="{{ request.args.get('email', '') }}">
                                    <label for="email">Email </label>
                                </div>
                                <div class="d-grid mb-2">
                                    <button type="submit" class="btn btn-outline-success btn-lg font-weight-bold">
                                        FORGET PASSWORD
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 
    </body>
</html>