<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forget Password</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,regular,500,600,700" media="all">
    </head>
    <body>
        <div class="container-fluid">
            {% include '_navbar.html' %}

            <div class="row mt-3">
                <div class="col-md-6 offset-md-3">
                    
                    {% if request.args.get('status') == 'false' %}
                        <div class="alert alert-danger mb-3 fs-5 text-center" role="alert">
                            <i class="fa-solid fa-triangle-exclamation"></i> 
                            {{request.args.get('message')}}
                        </div>
                    {% elif request.args.get('status') == 'true' %}
                        <div class="alert alert-success mb-3 fs-5 text-center" role="alert">
                            <i class="fa-regular fa-circle-check"></i>
                            {{request.args.get('message')}}
                        </div>
                    {% elif status == 'false' %}
                        <div class="alert alert-danger mb-3 fs-5 text-center" role="alert">
                            <i class="fa-solid fa-triangle-exclamation"></i> 
                            {{message}}
                        </div>
                    {% endif %}
                    <div class="card border-3">
                        <div class="card-body">
                            <form action="{{url_for('new_password_completed')}}" method="POST"> 
                                <input type="hidden" name="special_key" value="{{special_key}}">
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="" required>
                                    <label for="password">New Password </label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password_again" id="password-again" placeholder="" required>
                                    <label for="password-again">New Password Again</label>
                                </div>
                                <div class="d-grid mb-2">
                                    <button type="submit" class="btn btn-outline-success btn-lg font-weight-bold">
                                        CONFIRM
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 
    </body>
</html>