<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body>
    <div class="container-fluid">
        {% include '_navbar.html' %}

        <div class="row mt-3">
            <div class="col-md-6 offset-3">
                <div class="card border-2">
                    <h5 class="card-header text-center">Profile </h5>
                    <div class="card-body">
                        {% if request.args.get('message') %}
                            <div class="alert alert-success" role="alert">
                                {{ request.args.get('message') }}
                            </div>
                        {% endif %}

                        <form action="{{ url_for('profile_update') }}" method="POST">
                            <!-- <input type="hidden" name="id" value="{{student.get('id')}}"> -->
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder="" required value="{{student.get('name')}}">
                                <label for="name">Name </label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" name="surname" id="surname" placeholder="" required value="{{student.get('surname')}}">
                                <label for="surname">Surname </label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="" required value="{{student.get('email')}}">
                                <label for="email">Email </label>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-outline-secondary btn-lg fw-bold">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    UPDATE
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 
</body>
</html>