<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Questions</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    </head>
    <body>
        <div class="container-fluid">
            {% include '_navbar.html' %}
            <div class="row mt-3">
                <div class="col-md-6 offset-md-3">
                    <ol class="list-group list-group-numbered fs-4">
                        {% for question in questions %}
                            {% if session.get('is_login') %}
                                <a href="{{url_for('question', slug=question.get('slug'), id=question.get('id'))}}" class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold" >{{ question.get('title') }}</div>
                                        <span class="fs-5">{{ question.get('instructions') | truncate(150) | safe }}</span>
                                    </div>
                                    {% if question.get('id') in solved_questions_id %}
                                        <span class="badge text-bg-primary rounded-pill">SOLVED</span>
                                    {% endif %}
                                </a>
                            {% else %}
                            <a href="javascript:;" class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold" >{{ question.get('title') }}</div>
                                    <span class="fs-5">{{ question.get('instructions') | truncate(150) | safe }}</span>
                                </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 
    </body>
</html>